#### Some examples with `Series()` method

In [13]:
import pandas as pd

In [12]:
pd

In [11]:
a = [1, 2, 3, 4, 5]
pd.Series(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
a = [True, 45, 'hello', (1, 2, 3)]
pd.Series(a)

0         True
1           45
2        hello
3    (1, 2, 3)
dtype: object

##### Output by key and position in the collection

In [5]:
currencies = {
    'AUD': 'Australian Dollar',
    'EUR': 'Euro',
    'USD': 'United States Dollar'
}

In [10]:
data = pd.Series(currencies)
print(data['AUD'], data.iloc[0])

Australian Dollar Australian Dollar

In [14]:
print(data['USD'], data.iloc[2])

United States Dollar United States Dollar